#scene {
  position: relative;
  width: 100%;
  max-width: 900px;      /* controls desktop size */
  margin: 0 auto;       /* center on page */
}

#background {
  width: 100%;
  height: auto;
  display: block;
}

#click-area {
  position: absolute; 
  top: 44%;
  left: 49%;  

  transform: translate(-50%, -50%);

  width: 32%;
  height: 17%;

  background-color: transparent; /* semi-transparent */

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: 8px;

  z-index: 2;
}

/* house icons */
#popup-icon {
  top: 43.2%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 50%;

  position: absolute;
  display: none;
  z-index: 3;
}