#scene {
  position: relative;
  width: 100%;
  max-width: 1000px;      /* controls desktop size */
  margin: 0 auto;       /* center on page */
}

#background {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}

.text {
  width: 500px;           /* max line length */
  line-height: 1.5;
  word-wrap: break-word; /* break long words if needed */
  
}

#click-area {
  position: absolute; 
  top: 50%;
  left: 47.5%;  

  transform: translate(-50%, -50%);

  width: 35%;
  height: 17%;

  background-color: transparent; /* semi-transparent */

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 2;
}

/* house icons */
#popup-icon {
  top: 49%;
  left: 48%; 
  transform: translate(-50%, -50%);
  width: 53%;

  position: absolute;
  display: none;
  z-index: 3;
}

/* Scrollable overlay */
#gallery-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);

  width: 90%;
  height: 90%;

  display: flex;         
  overflow-y: auto;          

  background: rgba(255, 255, 255, 0.50);
  border-radius: 12px;
}

#arrow_click_area {
  position: absolute; 
  width: 11.5%;
  height: 4%;
  top: .5%;
  left: 2%;
  transform: translate(-10%, -0%);
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

/* back button */
#back_arrow {
  width: 13%;
  height: 4%;
  top: .4%;
  left: 2%;
  transform: translate(-10%, -0%);
  position: absolute;
  z-index: 5;
  pointer-events: none;
}
/* back button popup */
#back_arrow_popup {
  width: 14%;
  height: 4.2%;
  top: .33%;
  left: 1.6%;
  transform: translate(-10%, -0%);
  position: absolute;
  display: none;
  z-index: 20;
}

/* Left gallery */
#gallery-nav {
  width: 20%;
  padding: 30px;
  border-right: 1px solid #ccc;

  position: sticky;
  top: 0;
  align-self: flex-start;
}

#gallery-nav ul {
  list-style: none;
  padding: 0;
}

#gallery-nav li {
  margin-bottom: 20px;
  font-size: 22px;
}

#gallery-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 22px;
}

#gallery-nav a:hover {
  text-decoration: underline;
}

/* Right gallery */
#gallery-content {
  width: 70%;
  padding: 30px;
}

.gallery-section {
  margin-bottom: 60px;
}

.gallery-section img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

